#server_list .total {
	font-weight: bold;
}

#server_list table {
	max-width: 100%;
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: small;
}

#server_list td, #server_list th {
	border: 1px solid #2A3132;
	padding: 5px;
}

#server_list thead {
	background-color: #2A3132;
	border-bottom: 5px solid #336B87;
	color: white;
	font-size: 1.1em;
}

#server_list tbody tr:nth-child(even) {
	background-color: #F3F3F3;
}

#server_list td.clients, #server_list td.uptime, #server_list td.ping {
	text-align: center;
}

.mts_hover_list {
	display: none;
	border: 1px solid #336B87;
	border-radius: 10px;
	background-color: #FAFAFA;
	position: absolute;
	z-index: 100;
	padding: 0.5em;
	box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.25);
}

.mts_hover_list b {
	display: inline-block;
	font-size: 1.1em;
	padding-bottom: 2px;
}

td:hover .mts_hover_list {
	display: block;
}

.clickable {
	text-decoration: underline;
	cursor: pointer;
}

.mts_tooltip {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.mts_cwidth {
	display: inline-block;
	text-align: center;
}
