#server_list .header_total {
	font-weight: bold;
}

#server_list table {
	max-width: 100%;
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: small;
}

#server_list td, #server_list th {
	border: 1px solid #2A3132;
	padding: 5px;
	color: inherit;
}

#server_list thead {
	background-color: #2A3132;
	border-bottom: 5px solid #336B87;
	color: white;
	font-size: 1.1em;
}

#server_list tbody tr:nth-child(even) {
	background-color: #E0E0E0;
}

#server_list td.clients, #server_list td.uptime, #server_list td.ping {
	text-align: center;
}

#server_list td.version, #server_list td.name, #server_list td.description {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Note: the column widths here are not exact as auto-layout is left enabled */

#server_list td.address {
	max-width: 24ch;
}
#server_list td.version {
	max-width: 16ch;
}
#server_list td.name {
	max-width: 32ch;
}
#server_list td.description {
	max-width: 64ch;
}

.mts_hover_list {
	display: none;
	border: 1px solid #336B87;
	border-radius: 10px;
	background-color: #FFF;
	position: absolute;
	z-index: 100;
	padding: 0.5em;
	box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.25);
}

.mts_hover_list b {
	font-size: 1.1em;
}

td:hover .mts_hover_list {
	display: block;
}

.mts_cwidth {
	display: inline-block;
}
